<h5 class="my-4 d-flex justify-content-center">Administración de Lugares</h5>


<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" />
    <label for="floatingInput">Nombre de Lugar</label>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Latitud</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Longitud</label>
        </div>
    </div>
</div>

<div class="d-grid mt-4">
    <button type="button" class="btn btn-secondary p-2">Guardar</button>
</div>
