
<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista de Actividades por Comercio" blockClass="pc-component">
        <div class="col-md-12 col-xl-12">
          <h5 class="mb-3">
            <a href="nuevaactividadcomercio" class="btn btn-outline-dark">Nuevo</a>
          </h5>
          <div class="card tbl-card">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nombre Actividad</th>
                    <th class="text-center">Nombre Comercio</th>
                    <th class="text-center">Costo</th>
                    <th class="text-end">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  @for (actividad of listaActividadesComercio; track $index) {
                    <tr>
                      <td class="text-center">{{ $index + 1 }}</td>
                      <td class="text-center">{{ actividad.id_actividad }}</td>
                      <td class="text-center">{{ actividad.id_comercio }}</td>
                      <td class="text-center">{{ actividad.costo }}</td>
  
                      <td class="text-end">
                        <button type="button" class="btn btn-outline-success m-1" [routerLink]="['/editar-actividad/', actividad.id_actividad]">
                          Editar
                        </button>
                        <button (click)="eliminar(actividad.id_actividad)" type="button" class="btn btn-outline-danger">Eliminar</button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
